<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Clinique Dentaire</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Clinique Dentaire", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Prendre un rendez-vous", "Create", "Appointments")</li>
                    <li>@Html.ActionLink("Role", "Index", "RoleViewModels")</li>
                    <li>@Html.Partial("_LoginPartial")</li>
                </ul>
                <div class="navbar-right">
                    @using (Html.BeginForm("Index", "Patients", FormMethod.Post, new { @class = "form-inline my-2 my-lg-0" }))
                    {
                        @Html.TextBox("LastName", null, new { @class = "form-control mr-sm-2", @placeholder = "Rechercher un dossier" })
                        <input class="btn btn-outline-light" type="submit" value="Rechercher" />
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <div class="footer navbar-fixed-bottom">
            <hr />
            <center>
                <footer class="fixed-bottom">
                    <div class="row">
                        <div class="col-md-4">
                            <h4>Clinique dentaire</h4>
                            <p>
                                Bienvenue à la clinique dentaire du cours d'Archi
                            </p>
                            <h4>Téléphone</h4>
                            <p>(418) 545-5011</p>
                        </div>
                        <div class="col-md-4">
                            <h4>Adresse</h4>
                            <p>
                                555 boulevard de l'université,</br>
                                Chicoutimi (QC), G7H 6J3
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h4>Horaires</h4>
                            <p>
                                Lundi à Vendredi : 8h - 20h</br>
                                Samedi : 8h - 12h</br>
                                Dimanche : Fermé</br>
                            </p>
                        </div>
                    </div>
                    <p>&copy; @DateTime.Now.Year - Thongrasamy, Casado, Albert, Pichollet, Boni</p>
            </center>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
