@model TP3.Models.PatientRecord

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PatientRecord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Patient.LastNamePatient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.LastNamePatient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientHistory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientHistory)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PatientRecordID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
